.headerWrapper {
    background: var(--theMainColor);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--theMainFontColor);
    grid-area: h;
    display: grid;

    border-radius: 10px;


    
}

.headerWrapper > img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: top;


}

.headerWrapper p {
    display: inline-block;
    padding: 10px;
    margin: 0 auto;

    font-size: 2em;



    
}

