.wrapper {
    background: var(--theMainColor);
    color: var(--theMainFontColor);
    display: grid;
    grid-template-columns: 5vmax 50vw;
    gap: 3vmax;
    padding: 3vmax;
    margin: 2vmax;
    border: #5b5b3c 1px solid;
    border-radius: 20px;


    position: relative;

    /* overflow: scroll; */

}

p {
    font-size: calc(5px + 1vw);

}

.userPic {
    display: block;
    width: 5vmax;
   
}

.likeIco {
    display: block;
    width: 3vmax;
    object-fit: contain;
}

.likesWrapper {
    position: absolute;
    right: .3em;
    bottom: .01em;
    display: flex;

}

.postText{
    min-width: 50%;
    overflow: scroll;

}