:root {
  --theMainColor: #9faf98;
  --theMainFontColor: white;

}


.App {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  'h h'
  'a content'
  'ads content' ;
  gap: 1em;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 50px min-content 1fr;


}

.contentWrapper {
  grid-area: content;
}