:root {
  --theMainColor: #9faf98;
  --theMainFontColor: white;
}

.App {
  margin: 0.4em;
  display: grid;
  grid-template-areas:
    "h h"
    "a content"
    "a content";
  gap: 0.4em;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 30px 1fr 1fr;
}

.contentWrapper {
  grid-area: content;
}
